@import "assets/scss/config/fonts";
@import "assets/scss/config/reset";
@import "assets/scss/config/vars";
@import "assets/scss/config/utility";
@import "assets/scss/modules/typography";
@import "assets/scss/modules/fields";
@import "assets/scss/modules/buttons";
@import "assets/scss/modules/toast";
@import "assets/scss/config/global";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.app-author {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  --gap: 15px;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--bcs-grey-4);
  padding: 10px;
}

.image-resizer {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 25px 35px rgba(0, 0, 0, 0.03);
  max-width: 500px;
  width: 100%;
  display: grid;
  gap: var(--gap);

  .title {
    text-align: center;
  }

  .resizer.is-active {
    .container {
      border-color: transparent;
      p, svg {
        display: none;
      }
    }

    .content {
      place-content: center;
      height: 200px;
      pointer-events: auto;
      visibility: visible;
    }
  }

  .container {
    cursor: pointer;
    height: 250px;
    border: 2px dashed;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    display: grid;
    gap: var(--gap);
    height: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.25s ease;

    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    button {
      @media (min-width: 576px) {
        grid-column: 1/-1;
      }
    }
  }

  label:nth-of-type(3),
  label:nth-of-type(4) {
    display: flex;
  }
}
